*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content:'';
  display: table;
  clear: both;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.container{
  width: 80%;
  max-width: 1300px;
  margin: 0 auto;
}

.container2{
  width: 70%;
  max-width: 1100px;
  margin: 0 auto;
}

.btn{
  text-decoration: none;
  text-align: center;
  padding: 5px 20px;
}

.btnsmall{
  padding: 10px 25px;
}

.btnmedium{
  padding: 10px 40px; 
}

.btnlarge{
  display: block;
  padding: 10px 0;
}

.btnblue{
  background-color: #114BFA;
  color: #ffffff;
}

.btnblue:hover{
  background-color: #336FFB;
}

.btnwhite{
  background-color: #ffffff;
  color: #000000;
  border: 1px solid black;
}

.btnwhite:hover{
  background-color: #F4F2F2;
}

/***** HEADER *****/

/* menu */

.nav-bar{
  width: 100vw;
  height: 82px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.nav-bar-left{
  height: 80px;
  line-height: 80px;
  float: left;
}

.nav-bar-right{
  float: right;
}

.nav-bar-left img{
  vertical-align: text-bottom;
  margin: 0 50px 0 30px;
}

.nav-bar-left ul, .nav-bar-right ul{
  list-style: none;
  display: inline-block;
}

.nav-bar-left ul li, .nav-bar-right ul li{
  display: inline-block;
  line-height: 80px;
}

.nav-bar-left ul li{
  margin-right: 30px;
  text-align: left;
}

.nav-bar-right ul li{
  margin-left: 30px;
  text-align: right;
}

.nav-bar-right ul li:last-child{
  margin-right: 30px;
}

.nav-bar-left ul li a, .nav-bar-right ul li a{
  text-decoration: none;
}

.nav-bar-left ul li:hover, .nav-bar-right ul li:hover{
  border-bottom: 2px solid black;
}

.nav-bar-right ul li.last:hover{
  border-bottom: none;
}

/* jumbotron */

.jumbotron{
  width: 100vw;
  height: 80vh;
  background-color: #A7C5E0;
  margin-bottom: 250px;
  margin-top: 82px;
}

.jumbotron h1{
  font-size: 75px;
  font-weight: 700;
  padding: 70px 0 50px 0;
}

.jumbo-left{
  width: 30%;
  float: left;
}

.jumbo-left p{
  margin-bottom: 30px;
}

.jumbo-left a{
  display: inline-block;
  margin-bottom: 20px;
}

.jumbo-left .delete-sub{
  font-size: 14px;
}

#arrow-down{
  color: black;
  font-size: 50px;
}

.jumbo-right{
  width: 70%;
  float: left;
}

.jumbo-right img{
  width: 100%;
  padding-left: 50px;
  /* position: relative;   <--- ALTERNATIVA
  left: 0;
  bottom: -10px; */
}

/***** MAIN *****/

.plan h2{
  font-size: 40px;
  margin-bottom: 50px;
}

.plan input, .plan .billing-type{
  margin: 0 10px 50px 0;
}

/* payment type */

.payment{
  margin-bottom: 40px;
}

.payment .payment-col, .enterprise{
  border: 1px solid grey;
  font-size: 14px;
}

.payment .payment-col{
  padding-bottom: 200px;
  float: left;
}

.payment .left, .payment .center, .payment .right{
  width: calc((100% / 3) - 60px);
  margin: 0 30px;
}

.payment-col .top, .enterprise .top{
  text-align: center;
  border-bottom: 1px solid grey;
  padding: 10px 0;
  margin-bottom: 30px;
}

.payment-col .bottom, .enterprise .bottom{
  padding: 0 30px;
}

.payment-col .bottom h3, .enterprise .bottom .bottom-left h3{
  font-size: 25px;
  margin-bottom: 15px;
}

.payment-col .bottom .price{
  display: inline-block;
  font-weight: 700;
  margin-bottom: 10px;
}

/* .payment-col .bottom .user span,
.payment-col .bottom .space span{
  display: inline-block;
  font-size: 14px;
  margin-bottom: 25px;
} */

.payment-col .bottom .pay-type{
  display: block;
  color: grey;
  margin-bottom: 30px;
}

.payment-col .bottom .function{
  margin-bottom: 40px;
}

#btn-trial{
  display: block;
  text-align: center;
  margin-bottom: 25px;
}

.buy-now a{
  color: #114BFA;
}

.hr-mini{
  border: 1px solid grey;
  width: 40px;
  margin: 40px 0;
}

.payment-col .bottom .focus-point{
  margin-bottom: 30px;
}

.payment-col .bottom ul{
  list-style: none;
  margin-left: 15px;
}

.payment-col .bottom ul li{
  margin-bottom: 30px;
}

.payment-col .bottom ul li .fa-li{
  padding: 0 10px;
}

.payment-col .bottom ul li .fa-li.check{
  color: #114BFA;
}

/* enterprise */

.enterprise{
  padding-bottom: 30px;
  margin-bottom: 200px;
}

.enterprise .bottom .bottom-left{
  width: 70%;
  float: left;
}

.enterprise .bottom .bottom-left h4{
  margin-bottom: 10px;
}

.enterprise .bottom .bottom-right{
  width: 30%;
  float: left;
}

/* partner */

.partner{
  margin-bottom: 150px;
}

.partner .partner-left, .partner .partner-right{
  width: 50%;
  float: left;
}

.partner .partner-right{
  padding-left: 40px;
}

.partner .partner-left img{
  width: 100%;
}

.partner .partner-right h3{
  font-size: 30px;
  font-weight: 700;
  margin: 40px 0 30px 0;
}

.partner .partner-right p{
  margin-bottom: 40px;
}

/* business */

.business{
  margin-bottom: 200px;
}

.business h2{
  font-size: 40px;
  margin-bottom: 30px;
}

.business .bus-row{
  margin-bottom: 50px;
}

.business .bus-row .benefit{
  width: calc((100% / 3) - 80px);
  margin: 0 40px;
  float: left;
}

.business .bus-row .benefit img{
  width: 100%;
}

.business .bus-row .benefit h3{
  font-size: 25px;
  margin: 10px 0 20px 0;
}

/* clients */

.clients{
  width: 60%;
  margin-bottom: 40px;
}

.clients h2{
  font-size: 40px;
  margin-bottom: 30px;
}

.clients a{
  color: #114BFA;
}

/* clients cards */

.clients-cards{
  height: 60vh;
  width: 100vw;
}

.green{
  background-color: #95CB8C;
}

.green:hover{
  border: 8px solid #C9E5C3;
}

.bordeaux{
  background-color: #4C0122;
}

.blue{
  background-color: #2280C0;
}

.red{
  background-color: #F00021;
}

.brick{
  background-color: #C6001E;
}

.sky{
  background-color: #A7C5E0;
}

.darkblue{
  background-color: #0D196C;
}

.yellow{
  background-color: #FCD036;
}

.clients-cards .box-img{
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}

.clients-cards .cl-card-img{
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: invert(1);
}

.cl-cards-left, .cl-cards-center, .cl-cards-right{
  float: left;
  height: 100%;
}

.cl-cards-left, .cl-cards-right{
  width: 25%;
}

.cl-cards-center{
  width: 50%;
  background-color: #F2F2F2;
  padding: 50px;
}

#dit-logo{
  width: 20%;
  filter: none;
}

.cl-cards-center p{
  width: 100%;
  height: 200px;
  overflow: auto;
  padding-bottom: 50px;
}

#sign{
  height: 70px;
  padding: 20px 0;
}

.cl-cards-left .cl-card1,
.cl-cards-left .cl-card2,
.cl-cards-left .cl-card3,
.cl-cards-left .cl-card4,
.cl-cards-right .cl-card1,
.cl-cards-right .cl-card2,
.cl-cards-right .cl-card3,
.cl-cards-right .cl-card4{
  width: 50%;
  height: 50%;
  float: left;
}

/* call to action */

.calltoaction{
  width: 100vw;
  height: 350px;
  background-color: #A7C5E0;
  padding: 120px 0;
}

.calltoaction .cta-left, .calltoaction .cta-right{
  float: left;
}

.calltoaction .cta-left{
  width: 70%;
}

.calltoaction .cta-right{
  width: 30%;
}

.calltoaction .cta-left h2{
  font-size: 40px;
  color: #4B0221;
}

.calltoaction .cta-right a{
  color: #000000;
  border: 0;
}

/* faq */

.faq{
  margin-bottom: 100px;
}

.faq h2{
  margin: 100px 0 50px 0;
}

.faq .faq-section{
  border-top: 1px solid black;
  padding: 10px 30px 10px 0;
}

.faq .faq-section .box-text{
  width: 80%;
  float: left;
}

.faq .faq-section .box-text h4{
  margin: 20px 0;
}

.faq .faq-section .box-text p{
  margin-bottom: 20px;
}

.faq .faq-section .faq-arrow{
  width: 20%;
  float: right;
  margin: 20px 0;
  text-align: right;
}

.faq-section .faq-arrow .fa-chevron-up, .faq-section p{
  display: none;
}

.faq-section:hover .fa-chevron-up, .faq-section:hover p{
  display: block;
}

.faq-section:hover .fa-chevron-down{
  display: none;
}

.faq .faq-section.last{
  border-bottom: 1px solid black;
}

/***** FOOTER *****/

footer{
  width: 100vw;
  background-color: black;
  color: #ffffff;
  font-size: 14px;
  padding: 100px 0;
}

footer .footer-link-list{
  width: calc((100% / 5) - 20px);
  margin: 0 10px;
  float: left;
}

footer ul{
  list-style: none;
}

footer ul li{
  margin-bottom: 10px;
}

footer .list-title{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}