*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content:'';
  display: table;
  clear: both;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.container{
  width: 80%;
  max-width: 1300px;
  margin: 0 auto;
}

.btn{
  text-decoration: none;
  padding: 5px 20px;
  background-color: #114BFA;
  color: white;
}

.medium-blue{
  padding: 10px 25px;
}

/***** HEADER *****/

/* menu */

.nav-bar{
  width: 100vw;
  height: 82px;
  background-color: #ffffff;
}

.nav-bar-left{
  height: 80px;
  line-height: 80px;
  float: left;
}

.nav-bar-right{
  float: right;
}

.nav-bar-left img{
  vertical-align: text-bottom;
  margin: 0 50px 0 30px;
}

.nav-bar-left ul, .nav-bar-right ul{
  list-style: none;
  display: inline-block;
}

.nav-bar-left ul li, .nav-bar-right ul li{
  display: inline-block;
  line-height: 80px;
}

.nav-bar-left ul li{
  margin-right: 30px;
  text-align: left;
}

.nav-bar-right ul li{
  margin-left: 30px;
  text-align: right;
}

.nav-bar-right ul li:last-child{
  margin-right: 30px;
}

.nav-bar-left ul li a, .nav-bar-right ul li a{
  text-decoration: none;
  color: black;
}

.nav-bar-left ul li:hover, .nav-bar-right ul li:hover{
  border-bottom: 2px solid black;
}

/* .nav-bar-right ul li.btn:hover{
  border-bottom: none;
} */

/* jumbotron */

.jumbotron{
  width: 100vw;
  height: 80vh;
  background-color: #A7C5E0;
  margin-bottom: 250px;
}

.jumbotron h1{
  font-size: 75px;
  font-weight: 700;
  padding: 70px 0 50px 0;
}

.jumbo-left{
  width: 30%;
  float: left;
}

.jumbo-left p{
  margin-bottom: 30px;
}

.jumbo-left a{
  display: inline-block;
  margin-bottom: 20px;
}

.jumbo-left .delete-sub{
  font-size: 14px;
}

#arrow-down{
  color: black;
  font-size: 50px;
}

.jumbo-right{
  width: 70%;
  float: left;
}

.jumbo-right img{
  width: 100%;
  padding-left: 50px;
}